<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>全部分类_{$web_config.site_name}</title>
  <meta name="keywords" content="分类" />
  <meta name="description" content="显示{$web_config.site_name}网站的全部分类。" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="__CAOZHA-SKIN__/blue/css/base.css" rel="stylesheet">
  <link href="__CAOZHA-SKIN__/blue/css/m.css" rel="stylesheet">
  <script src="__CAOZHA-SKIN__/blue/js/jquery-1.8.3.min.js" ></script>
  <script src="__CAOZHA-SKIN__/blue/js/endmenu.js"></script>
  <!--[if lt IE 9]>
  <script src="__CAOZHA-SKIN__/blue/js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<div class="fenlei-section">
  <ul>

    {caozha:category name='menu_cat' fields='catid,catname,url,child' type='' modelid='' parentid='0' child='' limit='0,10' orderby='' iscache="1"}
    <li class="menu-t"><a href="{:blog_cat_url($menu_cat.url,$menu_cat.catid)}" >{$menu_cat.catname}</a>
      {if $menu_cat.child==1}<ul class="sub">{php}$menu_parentid=$menu_cat["catid"];{/php}
        {caozha:category name='menu_sub' fields='catid,catname,url' type='' modelid='' parentid='$menu_parentid' child='' limit='0,50' orderby='' iscache="1"}
        <li><a href="{:blog_cat_url($menu_sub.url,$menu_sub.catid)}" >{$menu_sub.catname}</a></li>
        {/caozha:category}
      </ul>{/if}
    </li>
    {/caozha:category}

  </ul>
</div>
<div class="endmenu">
  <ul>
    <li><a href="/"><i class="iconfont icon-shouye"></i>首页</a></li>
    <li><a href="{:cz_url('/index/blog/cat')}"><i class="iconfont icon-fenlei"></i>分类</a></li>
    <li><a href="{:cz_url('/index/blog/new')}"><i class="iconfont icon-navicon-wzgl"></i>最新</a></li>
    <li><a href="/list/17"><i class="iconfont icon-My"></i>关于</a></li>
  </ul>
</div>
<a href="#" title="返回顶部" class="icon-top"></a>
</body>
</html>